{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/weaponassembly/weaponassembler/WA_weaponassembler_header.png",
      "fileBody" : "/interface/weaponassembly/weaponassembler/WA_weaponassembler_body.png",
      "fileFooter" : "/interface/weaponassembly/weaponassembler/WA_weaponassembler_footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [42, 37],
      "dimensions" : [3, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "slotOffset" : 3,
      "position" : [61, 60],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/weaponassembly/weaponassembler/rifle.png"
    },
    "lblVersion" : {
      "type" : "label",
      "position" : [137, 35],
      "hAnchor" : "right",
      "wrapWidth" : 30,
      "value" : "v2.1.0",
      "fontSize" : 6
    }
  }
}
